In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('songdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
df.shape

(57650, 4)

In [4]:
df.sample(n=5000).drop('link',axis=1)

,artist,song,text
8060,Human League,sky,And after such a blazing day \nAt last the br...
42163,Louis Armstrong,I Can't Believe That You're In Love With Me,"Oh, your eyes of blue \nYour kisses too \nI ..."
51672,Slayer,Disciple,Drones since the dawn of time \nCompelled to ...
13259,Moody Blues,It's Cold Outside Of Your Heart,The harder I try seems the further I fall \nT...
696,America,The Border,You must be lost in a faraway land \nI search...
...,...,...,...
42618,Manowar,Wheels Of Fire,Since the dawn of time \nI've rolled across t...
31182,Elton John,Hey Ahab,It's a constant struggle getting up that hill ...
10417,Kenny Loggins,The One That Got Away,You were the quiet one \nAfraid to sleep alon...
375,Alabama,Dixie Fire,"I'm not a stranger to passion, \nI've seen a ..."
54450,Unkle,Lawless,In the dead of night \nI become someone else ...

In [5]:
# the indexing is not started from 0 so we will write this as

In [6]:
df.sample(n=5000).drop('link',axis=1).reset_index(drop=True)

,artist,song,text
0,Van Morrison,Hard Nose The Highway,Hey kids dig the first takes \nAin't that som...
1,Rolling Stones,Down The Road Apiece,Now if you want to hear some boogie like I'm g...
2,Veruca Salt,Benjamin,\n \n \n \n \nTake me away \n \nI know...
3,Nick Drake,Leaving Me Behind,The tramp moves on to the end of the street \...
4,Britney Spears,Do Something,Do you feel this? \nI'm gonna feel this \nAr...
...,...,...,...
4995,Pet Shop Boys,I Want To Wake Up,"I heard what you said, and I can tell you it's..."
4996,Ultravox,I Want To Be A Machine,I found the bones of all your ghosts \nLocked...
4997,Dan Fogelberg,The Way It Must Be,"Baby, how could I have been so vain \nTo make..."
4998,Puff Daddy,Thank You,Verse 1: \nYou've always been right there to ...
4999,Grateful Dead,Alligator,Sleepy alligator in the noonday sun \nSleepin...

In [7]:
df = df.sample(n=5000).drop('link',axis=1).reset_index(drop=True)

In [8]:
# hum text ke column ko clean karke unke ek order mein vecors bana rahe honge

In [9]:
# We are going to perform cleaning
df['artist']

0             Bee Gees
1              Unearth
2        Leonard Cohen
3            Offspring
4        Kenny Chesney
             ...
4995        Quiet Riot
4996      Eric Clapton
4997             Bread
4998    Iron Butterfly
4999        Chaka Khan
Name: artist, Length: 5000, dtype: object

In [10]:
df['song']

0              Jingle Jangle
1                 The Fallen
2       I Tried To Leave You
3         Staring At The Sun
4                   A Chance
                ...
4995    Slick Black Cadillac
4996          Lost And Found
4997                    I Am
4998           You Can't Win
4999     Lullaby Of Birdland
Name: song, Length: 5000, dtype: object

In [11]:
df['song'][0]  # 1st song ko dikhaega ye sirf

'Jingle Jangle'

In [12]:
df['text']

0       Jingle jangle, my love wears silvery bangles  ...
1       Broken, the seems burst in a rush  \nA catacly...
2       I tried to leave you, I don't deny  \nI closed...
3       Maybe life is like a ride on a freeway  \nDodg...
4       Girl, don't you know it's all I can do  \nTo k...
                              ...
4995    Ooooo, just a big black set of wheels  \nIs wh...
4996    Falling in the deep end  \nStop messin' around...
4997    I'm a fake  \nI can't ever write my own lyrics...
4998    What the man says is always right  \nHe'll cuf...
4999    Ooh, Lullaby of Birdland  \nThat is what I alw...
Name: text, Length: 5000, dtype: object

In [13]:
df['text'][0]

"Jingle jangle, my love wears silvery bangles  \nShe likes to wander and that's why I'm under  \nThe spell of her jingle jangle  \n  \nWe used to cry on each others shoulder  \nNow that I'm older, she wanders ahead  \nNow that she's found love, I still hear the sound of  \nSilvery bangles, remain in my head  \n  \nJingle jangle, my love wears silvery bangles  \nShe used to wander and that's why I'm under  \nThe spell of her jingle jangle\n\n"

In [14]:
# now we are going to start cleaning of texts
df['text'].str.lower().replace(r'[a-zA-Z0-9]','')   # yahan hum lower later mein convert kar de rahe agar text mein any later is present in capital usko
#ye tarika hota hai replace karane kaaa jahan except a-z, A-Z and 0-9 , we are removing each and every data from text
# humne comma dekar '' isliye chora hai kyunki saare special characters kaa replacemeny ho raha with ''

0       jingle jangle, my love wears silvery bangles  ...
1       broken, the seems burst in a rush  \na catacly...
2       i tried to leave you, i don't deny  \ni closed...
3       maybe life is like a ride on a freeway  \ndodg...
4       girl, don't you know it's all i can do  \nto k...
                              ...
4995    ooooo, just a big black set of wheels  \nis wh...
4996    falling in the deep end  \nstop messin' around...
4997    i'm a fake  \ni can't ever write my own lyrics...
4998    what the man says is always right  \nhe'll cuf...
4999    ooh, lullaby of birdland  \nthat is what i alw...
Name: text, Length: 5000, dtype: object

In [15]:
# above replcement ko ek aur tarike se likha jaa sakta hai
df['text'].str.lower().replace(r'[^\w\s]','')

0       jingle jangle, my love wears silvery bangles  ...
1       broken, the seems burst in a rush  \na catacly...
2       i tried to leave you, i don't deny  \ni closed...
3       maybe life is like a ride on a freeway  \ndodg...
4       girl, don't you know it's all i can do  \nto k...
                              ...
4995    ooooo, just a big black set of wheels  \nis wh...
4996    falling in the deep end  \nstop messin' around...
4997    i'm a fake  \ni can't ever write my own lyrics...
4998    what the man says is always right  \nhe'll cuf...
4999    ooh, lullaby of birdland  \nthat is what i alw...
Name: text, Length: 5000, dtype: object

In [16]:
# now hum \n par bhi kaam karne jaa rahe hain
df['text'] = df['text'].str.lower().replace(r'[^\w\s]','').replace(r'\n', ' ',regex=True)
#REPLACE KE ANDER JO R HAI THAT IS SHOWING READ PART AND AFTER READING WE ARE REPLACING \N WITH ' '
#SEARCH FOR REGEX
# note :- never forget to update, and update karne kaa tarika hai as given, df[''] = df[''].(any operation which we have perform)

In [17]:
df['text'][0]

"jingle jangle, my love wears silvery bangles   she likes to wander and that's why i'm under   the spell of her jingle jangle      we used to cry on each others shoulder   now that i'm older, she wanders ahead   now that she's found love, i still hear the sound of   silvery bangles, remain in my head      jingle jangle, my love wears silvery bangles   she used to wander and that's why i'm under   the spell of her jingle jangle  "

In [18]:
# now we will do tokanization 
# ye kya hota hai?
# eg:- we have a statement:- "my name is mohit tripathi"
# after doing this the statement will look like:- "my, name, is, mohit, tripathi"

#  &

# we will perform "steming" , ismein kya hota hai?
# for example we have various words:- (love, loving, loved, lovely)===> so we will show represent all these words with only singe word and that is "love"

In [19]:
import nltk  
# The Natural Language Toolkit (NLTK) is a Python programming environment for creating applications for statistical natural language processing (NLP). It includes language processing libraries for tokenization, parsing, classification, stemming, labeling, and semantic reasoning.
from nltk.stem.porter import PorterStemmer   # ye kisi bhi word ko uske apne bas form mein laa deta hai
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

ps = PorterStemmer()   # created an object, ye base form mein laayega kisi bhi fomat mein maujud word ko
# example:- we have various words:- (love, loving, loved, lovely)===> so we will show represent all these words with only singe word and that is "love"

# now tokanization ko perform karenge

stemming = []
def tokenization(txt):       # we created an function jahan pe koyi saa bhi text aayega to uspe ye work karega
    tokens = nltk.word_tokenize(txt)
    for w in tokens:      # w for words 
        stemming.append(ps.stem(w))     #empty list stemming mein ab sab append ho jaega
        
    return " ".join(stemming)   # list ko string mein covert karke returning

In [20]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Mohit
[nltk_data]     Tripathi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
# function testing 
tokenization('This is model for Music Recommendations loving loved')

'thi is model for music recommend love love'

In [22]:
# Ab function ko call maaarenge for our column
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [23]:
df['text']

0       thi is model for music recommend love love jin...
1       thi is model for music recommend love love jin...
2       thi is model for music recommend love love jin...
3       thi is model for music recommend love love jin...
4       thi is model for music recommend love love jin...
                              ...
4995    thi is model for music recommend love love jin...
4996    thi is model for music recommend love love jin...
4997    thi is model for music recommend love love jin...
4998    thi is model for music recommend love love jin...
4999    thi is model for music recommend love love jin...
Name: text, Length: 5000, dtype: object

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
tfid = TfidfVectorizer(stop_words='english')  #This is , to , for, aise words ko bhi ye hata dega
matrix = tfid.fit_transform(df['text'])

In [ ]:
matrix

In [ ]:
matrix.shape